{% extends 'layout/base.html'%}

{% load static %}



    <title>{% block title%}darou{%endblock%}</title>
 </script>
</head>


<body >
    <header>
        {% include 'layout/partial/header.html' %}
    </header>

    {% block body  %}
	<div class=" px-2 my-3 row row-cols-sm-12" style="padding-right: 0rem !important;
	padding-left: 0rem !important;">

	
 <!-- <div class="col-sm-12">
        <img src="{% static '/imge/image _accueil.png'%}" alt="logo" width="100%" height="100%">
    </div> -->

 <!-- Content Start -->

            <!-- Navbar Start -->

            <!-- Navbar End -->
            <div class="shadow-lg p-3 mb-5 bg-body rounded mt-5 container">
                <div class=" px-4 my-5 row row-cols-sm-12">
                    <div class="jumbotron text-center">
                        <div style="display: flex; width: 100%; height: 100%; color:#579c5d">
                            <h2>Commune de Darou Khoudoss.<span> </span></h2></div></div><div class="col-sm-12">
                                <p class="para" style="font-size: 18px">
                                  <b>  Caractéristiques globales de la commune</b><br>
<b>Localisation et superficie</b><br>
La Commune est située dans l’arrondissement de Méouane, dans le département de Tivaouane de la
région de Thiès. Elle a une proximité avec l’océan Atlantique à l’Ouest et est limitée par la Commune
de Kab Gaye et de Diokoul Diawrigne au Nord-Est, par la commune de Taïba Ndiaye au Sud et par la
commune de Méouane à l’Est.<br><br>
La scission de la communauté rurale de Mboro avait donné naissance à la communauté rurale de
Mboro et communauté rurale de Darou Khoudoss. Darou Khoudoss était érigée en communauté
rurale par le décret n°2002-166 du 21 février 2002.<br><br>
La commune de Darou Khoudoss est née avec l’entrée en vigueur de la loi sur la communalisation
intégrale (loi 2013-10 du 28 décembre 2013 portant Code général des collectivités locales - CGCL).
Elle couvre une superficie de 520 km2.<br><br>
<b>Démographie et Population</b><br>
La commune de Darou Khoudoss compte 68 villages et plus de 150 hameaux. La population est
composée en majorité de wolofs qui cohabitent avec les peulhs et les Sérères. Les population sont
majoritairement musulmanes avec la coexistence de deux principales confréries Tidiane et Mouride.
Les populations chrétienne se localise surtout dans la village de Darou Khoudoss où l’on note la seule
église dans la commune.<br><br>
La population de Darou Khoudoss est estimée à près de 90 000 en 2022 (ANSD, 2022). La densité
moyenne est de 173 habitants au km 2 .<br><br>
<b>Occupation des sols dans la commune de Darou Khoudoss</b><br>
<b>Zones dunaires</b><br><br>
Trois systèmes dunaires sont présents.<br>
- les dunes littorales vives ou encore dunes blanches ou dunes vives à cause de leur mobilité.
Ce système prend tout le littoral de la Commune et a une largeur d’environ un kilomètre.<br>
- les dunes rouges continentales sur une largeur de 3 km ;<br>
- les dunes jaunes ou dunes semi-fixées occupent l’arrière-plan des dunes vives, et s’étendent<br><br>
sur une largeur variant de 250 à 2 000 m du Nord au Sud.<br><br>
<b>Façade maritime</b><br>
Darou Khoudoss abrite une façade maritime sur 65 km, faisant partie du domaine public maritime. La
pêche est pratiquée dans ce domaine. Les villages pêcheurs de Ndeundecat, Fass Boye, Litte, Diogo
sur Mer sont implantés dans ce domaine.<br><br>
<b>Zones classées, aires protégées et occupation du sol</b><br>


Dans la commune, les zones classées et les aires protégées sont représentées par le périmètre de
restauration des Niayes (bande de filao) et par la réserve naturelle communautaire (RNC) de Darou
Khoudoss. La RNC a une superficie de1500 ha et se trouve entre les Balsand, Diambalo, Sao Mekhé I,
Weuta, Ndénout, Sao Mékhé II, Mourdjiguène, Thjssé, Ndiop Sao, Sao Mékhé Peul (Keur Demba Ly),
Sao.<br><br>
<b>Occupation des sols par les activités de production</b><br>
<b>Les mines</b><br>
Une importante industrie minière se développe dans la commune de Darou Khoudoss avec les
entreprises les Industries Chimiques du Sénégal – ICS qui exploite le phosphate, la GCO qui exploite
le zircon, l’ilménite, le rutile, le leucoxène et d’autres minéraux, le gisement de tourbe de Cayar à
Rao, la société Industries Africaines des Verres IAV-SA qui exploite les sables extra-siliceux.<br><br>
<b>L’agriculture</b><br>
La superficie agricoles de la Commune de Darou Khoudoss est estimée à 16 105 ha dont 5 930 ha
réservés aux cultures maraichères et fruitières et 10 175 ha pour les grandes cultures de saison des
pluies.<br><br>
L<b>’élevage pastorale</b><br>
L’élevage constitue la deuxième activité économique après l’agriculture. Il est très associé à
l’agriculture. Ces deux activités se complètent par les flux croisés de matières. Les animaux de trait -
équins et asins sont utilisés dans les travaux agricole, de même que la matière organique d’origine
animale pour l’amendement des sols. Les résidus de récolte sont utilisés pour l’alimentation des
animaux.<br><br>
<b>La pêche</b><br>
La pêche se développe sur la commune de Darou Khoudoss, de Sao à Tioucougne Peul. Ces activités
se déroulent sur la façade maritime longue de 65 km et ouverte sur l’Atlantique. Les principaux
centres de pêche sont Fass Boye, Mboro Ndeundecat, Litt (Keur Alé Mar) et Diogo sur mer.<br><br>
<b>L’exploitation forestière</b><br>
L’exploitation forestière aux plantations de filao de la Grande Côte Nord du Sénégal, dans le cadre
d’un plan d’aménagement en concertation étroite avec les groupements forestiers élaboré́ en 2005
par le service forestier avec l’appui de la coopération canadienne.<br><br>
La Direction des Eaux, Forêts, Chasses et Conservation des Sols (DEFCCS) à travers la Cellule de mise
en œuvre du plan d’aménagement de la Bande de filao (CMOPABF), met en œuvre ce Plan
d’aménagement<br><br>
<b>Potentialités et contraintes</b><br>
<b>Potentialités de la commune</b><br>


La commune de Darou Khoudoss dispose de potentialités importantes à travers les écosystèmes
présents. On note :<br>
- des dépressions humides ou inter dunaires et très fertiles, favorables aux cultures horticoles
(maraichères et arboricoles);<br>
- une nappe peu profonde, apte à assurer des apports d’eau pour l’irrigation des cultures ;<br>
- des sols relativement profonds et légers, riches en matières organiques dans les dépressions<br>
- un climat favorable au développement des cultures horticoles et de l’immobilier résidentiel ;<br>
- d’importantes ressources minières ;<br>
- la zone d’upwelling créant des conditions favorables pour la pêche.<br><br>
<b>Contraintes dans la gestion et la valorisation foncière, et à la gestion des
ressources naturelles</b><br><br>
Plusieurs contraintes sont notées sur l’occupation et de l’affectation des sols et sur la gestion des
ressources naturelles.<br><br>
<b>Contraintes dans l’occupation et l’affectation des sols</b><br>
Les contraintes principales dans l’occupation et l’affectation des sols sont :<br><br>
- le statut et l’étendue du périmètre de restauration Niayes.<br>
- le défaut de matérialisation des limites (absence de cadastre rural) ;<br>
- les acquisitions foncières à grande échelle des compagnies minières et de production
énergétique (ICS, GCO, Africa Energy) ;<br>
- le défaut de réhabilitation des sites miniers ;<br>
- la pollution atmosphérique et rejet de gaz des ICS (impacts sanitaires sur les cultures) ;<br>
- le rejet d’eaux usées industrielles non épurées par les ICS dans le domaine public maritime<br>
(Khondio) ;<br>
- l’insécurité́ foncière des producteurs maraichers dans les bassins de schlamm des ICS et dans
le périmètre de restauration des Niayes ;<br>
- les conflits entre les acteurs usagers du sol ;<br>
- l’absence de système innovant d’enregistrement et d’archivage des documents fonciers ;<br>
- la méconnaissance des textes relatifs au foncier et à la gestion des ressources naturelles
(GRN) par les populations ;
- l’ignorance par les populations des limites et règles de gestion du périmètre de restauration
des Niayes (PRN) ;<br>
-la faiblesse de l’accès des femmes aux terres agricoles ;<br>
- l’absence de délimitation et de matérialisation des parcours et pistes de bétail ;<br>
- la réduction des terres consacrées à l’agriculture et à l’élevage du fait des concessions
minières et de l’urbanisation ;<br>
- l’interpénétration des activités minières, agricoles, pastorales et halieutiques.<br><br>
<b>Contraintes dans la gestion des ressources naturelles</b><br><br>
Les principales contraintes de la Commune de Daru Khoudoss sont :<br>
- l’urbanisation rapide avec comme conséquence une pression foncière très tendue;<br>
 l&#39;insuffisance et parfois la disparition des zones de pâturage ;<br>


- l’instabilité des dunes blanches et jaunes ;<br>
- l’ensablement des cuvettes maraîchères et des bas-fonds;<br>
- la surexploitation des nappes aquifères ;<br>
- l’affaissement progressif de la nappe suite à la régression pluviométrique ;<br>
- l’appauvrissement, la salinisation et l’acidification des sols ;<br>
- la salinisation de la nappe phréatique ;<br>
- les pertes de terres en raison de l’exploitation minière;<br>
- le déboisement du fait des travaux des industries minières;<br>
-l’absence de réhabilitation des sites d’exploitation des mines ;<br>
- la dégradation des paysages suite à l’exploitation du minerai de phosphates et des sables
minéraliers;<br>
- les rejets de produits acides par les ICS sur le site de Khondio dans la commune de Darou
Khoudoss ;<br>
- la destruction des habitats fauniques ;<br>
-l’utilisation abusive de pesticides et d’engrais chimiques ;<br>
- la contamination de la chaîne alimentaire par les déchets agro-industriels ;<br>
- la disparition des points d’eau permanents et le tarissement continu des points d’eau
temporaires ;<br>
- la diminution du potentiel de la pêche;<br>
- les menaces sur le domaine public maritime, sur la bande de filaos, les poumons verts et les
espaces agricoles.<br><br>
<b>Zones de vocation</b><br>
La commune de Darou Khoudoss est structurée en cinq (05) zones de vocation :<br>
- La zone agrosylvopastorale à priorité agriculture (ZAPA) ;<br>
- Les zones de conservation (ZOC) ;<br>
- La zone littorale (ZL);<br>
-La zone industrialo minière (ZIM) ;<br>

-Les zones d’habitation (ZA).<br>

Ces différentes contraintes énumérées rendent pertinent le projet de « Renforcement de Chaînes de
Valeurs de données Infranationales en Afrique Subsaharienne (PRECVADI) » qui axe ses interventions
sur le foncier et les domaines connexes.
                                   </p>
            
                                
            </div>



    <!-- JavaScript Libraries -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src=" {% static 'lib/easing/easing.min.js '%}"></script>
    <script src=" {% static 'lib/waypoints/waypoints.min.js '%}"></script>
    <script src=" {% static 'lib/owlcarousel/owl.carousel.min.js '%}"></script>
    <script src=" {% static 'lib/tempusdominus/js/moment.min.js '%}"></script>
    <script src=" {% static 'lib/tempusdominus/js/moment-timezone.min.js '%}"></script>
    <script src=" {% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js '%}"></script>

    <!-- Template Javascript -->
    <!-- script src=" {% static 'js/main.js '%}"></script-->

<!-- diagramme-->


</html>

</div>
<div class="col">






    </div>
</div>
</body>
{% endblock %}




